.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: auto;
  align-items: center;
  padding: 3rem 10rem;

  &-left{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &-right{
    display: flex;
    align-items: center;
  }

  &-middle {
    font-family: 'Lato', sans-serif;
  }

  &-link{
    padding: 0 1.7rem;
    font-size: 19.3px;
    line-height: 23.16px;
    font-weight: 400;
    cursor: pointer;
  }

  &-button{
    height: 48px;
    width: 150px;
    left: 1024px;
    top: 50px;
    border-radius: 10px;
    background-color: #677C6C;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 19.3px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &-bag{
    height: 40px;
    width: 30px;
    left: 4.25px;
    top: 2.833343505859375px;
    border-radius: 0px;
    margin-right: 1.5rem;
  }
}
